@model IEnumerable<SAT.DATA.EF.Student>

@{
    ViewBag.Title = "Students";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<div class="col-lg-12">
    <div class="card mb-0">
        <div class="card-header">
            <h3 class="h4 mb-0">@ViewBag.Title</h3>
        </div>
        <div class="card-body pt-0">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentImage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentStatus.SSName)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/Content/img/@item.StudentImage" alt="@item.FullName" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentStatus.SSName)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) <char>|</char>
                                }

                                @Html.ActionLink("Details", "Details", new { id = item.StudentId })
                                
                                @if (User.IsInRole("Admin"))
                                {
                                    <char>|</char> @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                                }
                                
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
