@model IEnumerable<SAT.DATA.EF.StudentStatus>

@{
    ViewBag.Title = "Student Status";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-lg-12">
    <div class="card mb-0">
        <div class="card-header">
            <h3 class="h4 mb-0">@ViewBag.Title</h3>
        </div>
        <div class="card-body pt-0">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SSName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SSDescription)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SSName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SSDescription)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SSID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SSID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.SSID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
